/*
#E6EBEE
#556e7b

#D87A63
#d16349

#48BDB5
#0BB0A4

*/

/* @font-face {
	font-family: AWConqueror;
	src: url("../fonts/AWConquerorSans-Light.otf");
} */

body{
	padding:0;
	margin:0;
	height: 100%;

	font-family: 'Roboto',sans-serif;
	font-size:19;
	text-rendering: optimizeLegibility;

	color: #556e7b;
	background-color: #E6EBEE; /*#DAE2E6*/
}

body{
	height: 100%;
}

@media (min-width: 768px) {
	body{
		text-align: justify;
		text-justify: inter-word;
	}
}

/*			bootstrap and spacing 				*/


[class*="col-"] {
	/* background-color: rgba(86, 61, 124, 0.15); */
	/*border: 1px solid rgba(86, 61, 124, 0.2);*/
}

@media (min-width: 1200px) {
	.container{
		max-width: 800px;
	}
}

[class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}

.row{
	margin-left: -10px;
	margin-right: -10px;
}

/* Small devices and up */
@media (min-width: 768px) { 
	.vertical-align-center {
		display: flex;
		align-items: center;
	}
}

.vertical-align-center-always {
	display: flex;
	align-items: center;
}

@media (min-width: 768px) { 
	.center-block-small {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

p{
	margin: 0;
}

p.paragraph{
	padding-top:10px;
	padding-bottom: 10px;
}

.paragraph [class*="col-"]{
	padding-top: 5px;
	padding-bottom: 5px;
}

.row .highlighted{
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*			regular content 				*/

.round-image{
	border-radius:50%;
}

#header{
	background-color: #556e7b;
	color: #E6EBEE;
	fill: #E6EBEE;
	stroke: #E6EBEE;
	
	padding: 30px 0;

	/* transition: height 1s ease; */
}

#header [class*="col-"]{
	pointer-events: none;
}

#heading{
	font-weight:300;
	font-size:40;
	margin-left: -10px;
}

h3{
	font-weight: 300;
}

#projects{
	text-align: left;
	/* temporary, until I add some h2 to the projects page */
	padding-top: 50px;

	padding-bottom: 150px;
}

#about{
	padding-bottom: 150px;
}

h2{
	margin-top: 50px;
	font-family: 'Roboto Slab';
}

a{
	color: #0BB0A4;
	text-decoration: none;
	cursor: pointer;
}

a:hover, a:focus{
	color:#d16349;
	text-decoration: none;
}

.marginRight{
	margin-right: 10px;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -22px; /* the bottom margin is the negative value of the footer's height */
}

#footer, .push {
    height: 22px; /* .push must be the same height as .footer */
    text-align: center;
}

#copyright{
	font-size: 15;
}

#footer{
	display: none;		for initial load
} 

/*			svg / logo 				*/


svg{
	margin:0 auto;
	cursor:pointer;
	pointer-events:none;
}

.arc{
	stroke-width: 0;
}

#left-half,#right-half{
	visibility: hidden;
	pointer-events:all;
}

#left-half:hover ~ .letterA{
	stroke: #48BDB5;
	fill: #48BDB5;
}

#right-half:hover ~ .letterP{
	stroke: #D87A63;
	fill: #D87A63;
}