/*
#E6EBEE
#556e7b

#D87A63
#d16349

#48BDB5
#0BB0A4

*/

body{
	padding:0;
	margin:0;
	height: 100%;

	font-family: 'Open Sans',sans-serif;
	font-size:19;
	text-rendering: optimizeLegibility;

	color: #556e7b;

	/* temporarily set the background color to dark, to speed up the change on initial page load */
	background-color: #556e7b;

	/* force scrollbar to avoid the page jumping aroung on AJAX loads */
	overflow-y: scroll;
}

::-moz-selection{
	background-color: #556e7b;
	color: #E6EBEE;
}

::selection{
	background-color: #556e7b;
	color: #E6EBEE;
}

body::-webkit-scrollbar {
	/* alas, only webkit implement this...*/
   display: none; 
}

body{
	height: 100%;
}

/*			bootstrap and spacing 				*/


/* [class*="col-"] */ {
	/* background-color: rgba(86, 61, 124, 0.15); */
	/* border: 1px solid rgba(86, 61, 124, 0.2); */
}
.container{
	/* border: 1px solid rgba(86, 61, 124, 0.2); */
}

@media (min-width: 1200px) {
	.container.small-container{
		/* keep the container fairly small on the page */
		max-width: 800px;
	}
}

[class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}

.row{
	margin-left: -10px;
	margin-right: -10px;
}

/* Small devices and up */
@media (min-width: 768px) { 
	.vertical-align-center {
		display: flex;
		align-items: center;
	}
}

.vertical-align-center-always {
	display: flex;
	align-items: center;
}

.position-absolute{
	position: absolute;
}

@media (min-width: 768px) { 
	.center-block-small {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

p{
	margin: 0;
}

.paragraph{
	text-align: justify;
	text-justify: inter-word;
	margin-top: 60px;
}

.paragraph [class*="col-"]{
	padding-top: 5px;
	padding-bottom: 5px;
}

.quote{
	background-color: white;
	display: inline-block;
	padding: 8px 10px;
}

/*			regular content 				*/

.round-image{
	border-radius:50%;
}

#header{
	background-color: #556e7b;
	color: #E6EBEE;
	fill: #E6EBEE;
	stroke: #E6EBEE;
	
	padding: 30px 0;

	/* transition: height 1s ease; */
}

#logo{
	padding: 0 10px;
/* 	transition: margin-left 1s ease-out; */
	display: inline-block;
}

#header [class*="col-"]{
	pointer-events: none;
}

#heading{
	font-weight:300;
	font-size:40;
}

h2{
	font-weight: 900;
	margin: 0;
}

@media (min-width: 768px) { 
	h2{
		/* on large screens, headers appear on the left so: */
		text-align: right;
	}
}

h3{
	font-size: 26px;
	text-align: inherit;
}

h3 strong{
	font-weight: 900;
}

h3 em{
	font-style: italic;
	font-size: 19px;
}

.paddingBottom{
	padding-bottom: 150px;
}

a{
	color: #0BB0A4;
	text-decoration: none;
	cursor: pointer;
}

a:hover, a:focus{
	color:#d16349;
	text-decoration: none;
}

a[disabled]{
	pointer-events: none;
}

.marginRight{
	margin-right: 10px;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -22px; /* the bottom margin is the negative value of the footer's height */
}

#footer, .push {
    height: 22px; /* .push must be the same height as .footer */
    text-align: center;
}

#copyright{
	font-size: 15;
} 


/*			angular 					*/

#projects .spacer{
	height: 30px;
}

ul.inline-list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul.inline-list li{
	display: inline-block;
}

#filters{
	padding: 0;
	margin-bottom: 15px;
	background-color: #E6EBEE;
	z-index: 10;
	width: 100%;
}

@media(max-width: 360px){
	#filters li{
		display: block;
	}
}

.filter{
  padding: 4px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.filter:hover, .filter.active{
  background-color: #556e7b;
  color: #E6EBEE;
}

@media(max-width: 360px){
	ul.tags li{
		margin: 5px 10px 5px 0px;
	}
}

.tag{
	padding: 1px 6px;
	margin-right: 10px;
	cursor: pointer;

	font-size: 17px;
	
	border-radius: 0px;
	border: 1px solid #556e7b; 
}

.tag:hover{
	background-color: #556e7b;
	color: #E6EBEE;
}

.project{
	padding: 15px;
	margin: 0 -15px;
}

.project:hover{
	background-color: white;
}

.project-header{
	cursor: pointer;
}

.project-header:hover a.toggleProjectDetails{
	color:#d16349;
}

@media(max-width: 360px){
	.project-header{
		text-align: center;
	}
}
.project-icon{
	transition: all .2s ease;
	transform: none;
}

.project-icon:hover{
	transform: scale(1.1);
}

.project-icon.highlighted{
	transform: scale(1.1);
}

.project-details{
	font-size: 18px;
}

.project-details p, .project-details ul{
	margin-top: 15px;
}

.project-description{
	text-align: justify;
	text-justify: inter-word;
}

.project-picture{
	width: 100%;
	padding: 20px 0;
}

/*			svg / logo 				*/


svg{
	margin:0 auto;
	cursor:pointer;
	pointer-events:none;
}

.arc{
	stroke-width: 0;
}

#left-half,#right-half{
	visibility: hidden;
	pointer-events:all;
}

#left-half:hover ~ .letterA{
	stroke: #48BDB5;
	fill: #48BDB5;
}

#right-half:hover ~ .letterP{
	stroke: #D87A63;
	fill: #D87A63;
}


.squashed{
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.squashed *{
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}