/*
#E6EBEE
#556e7b
#d16349
#48BDB5
*/

@font-face {
    font-family: AWConqueror;
    src: url("/fonts/AWConquerorSans-Light.otf");
}

body{
	padding:0;
	margin:0;

	font-family: 'AWConqueror','Roboto',sans-serif;
	font-size:19;
	text-rendering: optimizeLegibility;
	text-align: justify;
	text-justify: inter-word;

	color: #556e7b;
	background-color: #E6EBEE; /*#DAE2E6*/
}



/*			bootstrap and spacing 				*/


[class*="col-"] {
    /* background-color: rgba(86, 61, 124, 0.15); */
    /*border: 1px solid rgba(86, 61, 124, 0.2);*/
}

/*  fix this
.container{
	padding-left: 10px;
	padding-right: 10px;
} */


@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}

[class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}

.row{
	margin-left: -10px;
	margin-right: -10px;
}

.vertical-align-center {
    display: flex;
    align-items: center;
}

.paragraph{
	padding: 5px 0px;
}

.highlighted{
	background-color: white;
	padding: 15px 0;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 10px;
}

.highlighted > [class*="col-"]{
	padding-left: 15px;
}

.highlighted > [class*="col-"] ~ [class*="col-"]{
	padding-left: 10px;
}

/*			regular content 				*/


.round-image{
	border-radius:50%;
}

h3{
	font-weight: 300;
}

a{
	color: #48BDB5;
	text-decoration: none;
	cursor: pointer;
}

a:hover, a:focus{
	color:#d16349;
	text-decoration: none;
}

.header{
	padding: 40px 0;
}

#heading{
	font-weight:300;
	font-size:35;
	margin-left: -20px;
}

/*			svg / logo 				*/


svg{
	stroke: #556e7b;
	fill: none;
	margin:0 auto;
	cursor:pointer;
	pointer-events:none;
}

.arc{
	stroke-width: 0;
	fill: #556e7b;
}

#left-half,#right-half{
	visibility: hidden;
	pointer-events:all;
}

#left-half:hover ~ .letterA{
	stroke: #48BDB5;
	fill: #48BDB5;
}

#right-half:hover ~ .letterP{
	stroke: #d16349;
	fill: #d16349;
}


/* #pic{
	width:82px;
	height:82px;
	border-radius:50%;

	opacity:1;

	transition: all ease .8s;
}

#pic.hidden{
	opacity:0;
	right:63px;
	transform:rotate(-45deg);
}

#pic:hover{
	transition: all ease .3s;
	top:-9px;
	right:-10px;
	width:100px;
	height:100px;
} */