body{
	padding:0;
	margin:0;
	overflow:hidden;

	font-family: 'Roboto',sans-serif;
	font-size:19;
	text-rendering: optimizeLegibility;
	color: #444;
	text-align: justify;
	text-justify: inter-word;
}

#wrapper {
	/*background-color: lightgray;*/

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

#about, #projects{
	display:none;
}

svg{
	stroke: #444;
	fill: none;
	margin:0 auto;
	cursor:pointer;
	pointer-events:none;
}

#left-half,#right-half{
	visibility: hidden;
	pointer-events:all;
}

#left-half:hover ~ .letterA{
	stroke: #4472C4;
}

#right-half:hover ~ .letterP{
	stroke: #D65240;
}

#heading{
	position:absolute;
	font-weight:300;
	font-size:35;
	margin:0;
}

#pic{
	position: absolute;
	top:2px;
	right:0;

	width:80px;
	height:80px;
	border-radius:50%;

	opacity:1;

	transition: all ease .8s;
}

#pic.hidden{
	opacity:0;
	right:63px;
	transform:rotate(-45deg);
}

#pic:hover{
	transition: all ease .3s;
	top:-8px;
	right:-10px;
	width:100px;
	height:100px;
}

h3{
	font-weight: 300;
}

a{
	color: #4472C4;
	text-decoration: none;
}

a:hover{
	color:#D65240;
}