body{
	font-family: 'Roboto',sans-serif;
	font-size:19;
	text-align: center;
	text-rendering: optimizeLegibility;
}

#wrapper {
	width: 650px;
	margin: 0 auto;
	text-align: left;
}

#about, #projects{
	display:none;
}

svg{
	stroke: #444;
	fill: none;
}


h1 {
	font-family: 'Garamond';
	margin: 0;
	color: #444;
	font-size: 200;
}

a {
	color: #4472C4;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}