
<div id="projects" class="paddingBottom">

 <div id="filters-anchor"></div>
 <ul id="filters" class="inline-list" ng-mouseleave="model.tagHovered=false">
  <div class="container small-container">
   <li class="filter" ng-class="{active: tag==model.tag}" ng-repeat="tag in tags" ng-click="model.tag='none'; collapseProjects(); model.tag=tag;"
   ng-mouseenter="model.tagHovered=tag">{{tag}}</li>
  </div>
</ul>

<div class="container small-container">
<div class="project" id="project.id" ng-class="{'expanded':project.detailsVisible}" ng-repeat="project in projects | filterByTag:model.tag">

  <div class="row vertical-align-center-always project-header" ng-click="toggleProjectDetails(project)">
   <div class="col-sm-2 col-xs-4">
    <img class="round-image img-responsive project-icon" ng-src="img/{{project.id}}/{{project.icon}}"
    ng-class="{'highlighted': project.tags.indexOf(model.tagHovered) > -1}"
    ng-click="toggleProjectDetails(project); $event.stopPropagation()"></img>
  </div>
  <div class="col-sm-10 col-xs-8">
    <h3 class="project-title" ng-bind-html="getTrustedHtml(project.title)"></h3>
    <div>
       <a ng-repeat="link in project.links" ng-disabled="!link.href" ng-click="$event.stopPropagation()"
       class="greenLink textLink" target="_blank" href="{{link.href}}">{{link.text}}</a>
       <a class="greenLink toggleProjectDetails" ng-click="toggleProjectDetails(project); $event.stopPropagation()">&#10095;</a>
    </div>
  </div>
</div>

<div ng-if="project.detailsVisible" class="row project-details">

  <div class="col-sm-2 col-xs-0">
  </div>
  <div class="col-sm-10  col-xs-12">

   <p class="justified-text">
    {{project.description}}
    </p>

    <div ng-if="project.pictureVisible">
      <div ng-switch="project.pictures.length" class="project-pictures">
        <a ng-switch-when="1" ng-href="img/1-highres/{{project.pictures[0]}}" target="_blank">
          <img ng-src="img/{{project.id}}/{{project.pictures[0]}}" alt="{{project.pictures[0]}}"></img>
        </a>
        <div ng-switch-default>
          <carousel interval="3000">
            <slide ng-repeat="picture in project.pictures" alt="{{picture}}">
              <a ng-href="img/1-highres/{{picture}}" target="_blank">
                <img ng-src="img/{{project.id}}/{{picture}}">
              </a>
            </slide>
          </carousel>
        </div>
      </div>
    </div>

   <p ng-if="project.team">
    <b>Team:</b> {{project.team}}
    </p>

   <p class="justified-text" ng-if="project.process">
    <b>Process:</b> {{project.process}} </p>
   <p>

    <b>Tools:</b> {{project.tools}}
    </p>

    <ul class="tags inline-list">
      <li class="tag" ng-repeat="tag in project.tags" ng-click="model.tag=tag">{{tag}}</li>
   </ul>

  </div>
</div>

</div>
</div>