<div id="projects" class="paddingBottom">
 <div class="spacer"></div>

 <ul class="filters">
   <li class="tag" ng-class="{active: tag==model.tag}" ng-repeat="tag in tags" ng-click="model.tag=tag">{{tag}}</li>
</ul>

<div class="project" ng-click="toggleProjectDetails(project)" ng-repeat="project in projects | filterByTag:model.tag">

 <div class="row vertical-align-center">
   <div class="col-sm-2 col-sm-push-0 col-xs-4 col-xs-push-4">
    <img class="round-image center-block-small project-icon" ng-src="{{project.icon}}"
    ng-click="project.pictureVisible= !project.pictureVisible; $event.stopPropagation()"></img>
 </div>
 <div class="col-sm-10 col-xs-12 project-header">
  <h3 class="project-title" ng-bind-html="getTrustedHtml(project.title)"></h3>
  <div>
     <a ng-repeat="link in project.links" ng-class="{inactive: !link.href}"
     class="marginRight" target="_blank" href="{{link.href}}">{{link.text}}</a>
     <a ng-click="toggleProjectDetails(project); $event.stopPropagation()">{{project.detailsVisible? "-" : "+"}}</a>
  </div>
</div>
</div>

<div ng-if="project.detailsVisible" class="row project-details">
  <div class="col-sm-2 col-xs-0">
  </div>
  <div class="col-sm-10  col-xs-12">
   <p class="project-description">{{project.description}}</p>
   <p>Tools: {{project.tools}}</p>
</div>
</div>

<div ng-if="project.pictureVisible" class="row">
  <div class="col-sm-2 col-xs-0">
  </div>
  <div class="col-sm-10  col-xs-12">
     <img class="project-picture" ng-src="{{project.picture}}" alt="{{project.picture}}"></img>
  </div>
</div>

</div>